<h1><strong><%= @restaurant.name %></h1>
<strong>Address: </strong><p><%= @restaurant.address %></p>
<strong>Phone Number: </strong><p><%= @restaurant.phone_number %></p>
<strong>Category: </strong><p><%= @restaurant.category %></p>
<h2><% @restaurant.reviews.each do |review|%>
      <%= review.content %>
      <%= review.rating %>
     <% end%>
</h2>

<%= link_to "< Back", restaurants_path(@restaurant) %> |
<%= link_to "Add review",  new_restaurant_review_path(@restaurant) %>
